<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://vivadb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="NdESHeoRntlwwuOLHSdWeSHR9xdbrAshDqrO62jHKUjsSO5jSsfoLvHFSTzmS75h05xFuUGnb12IaH5w9sRpuQ==" />
  </appSettings>
</configuration>